.joueur {
    width: 60%;
    margin: 50px auto;
    position: relative;
    border-radius: 2%;
    border: solid #d38741;
    border-width: 4px;
}

h3 {
    text-align: center;
    font-size: 40px;
    color: #975911;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 7px 7px 0px #d2d2d22e;
}
  
  
h5 {
    text-align: center;
    font-size: 30px;
    color: #975911;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

body {
    background-color:antiquewhite;
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
  }