body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  /*Component carrousel*/
  .textNewsTitle{
    margin-left: 40vw;
    padding-top: 3vw;
  }

  .wrap{
    background-image:url(../assets/back_news.JPG);
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 20vw;
  }

  .carouselComp {
    margin-left: 30vw;
    padding-top: 3vw;
    width:700px;
    height:450px;
  }

  .carousel_caption{
    padding-top: 2vw;
  }

 /*Component match and results*/
