
h1 {
   text-align: center;
}

h3 {
   margin-left: 20%;
   margin-right: 60%;
   background: linear-gradient(230.46deg, #5F5FF3 -2.98%, #B67DFF 68.14%, #FF83CD 104.54%);
}
/*Bordure du tableau*/
.easternRanking {
    margin-left: 20%;
    width: 60%;
    position: relative;
    color: #8F8F8F;
    background: #fff;
    border-radius: 10px;
    
 }
 .easternRanking:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -10px;
    border-radius: inherit;
    background: linear-gradient(230.46deg, #5F5FF3 -2.98%, #B67DFF 68.14%, #FF83CD 104.54%);
 }

 .westernRanking {
    margin-left: 20%;
    width: 60%;
    position: relative;
    color: #8F8F8F;
    background: #fff;
    border-radius: 10px;
 }
 .westernRanking:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -10px;
    border-radius: inherit;
    background: linear-gradient(230.46deg, #5F5FF3 -2.98%, #B67DFF 68.14%, #FF83CD 104.54%);
 }

