.easternRanking {
    margin-left: 2%;
    border: solid #59727c;
    width: 40%;
    border-radius: 1%;
}

.westernRanking {
    margin-left: 2%;
    border: solid #59727c;
    width: 40%;
    border-radius: 1%;
}
