body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .row{
    border-top:0;
 }

  .shop{
      padding-top: 3vw;
  }

  .add-space {
    margin-left: 20vw;
  }

  .titredetails{
    font-size: 17px;
}

  .description{
      font-size: 15px;
  }

  /*Shopping details*/
  .cardDetails{
    padding-top: 3vw;
    margin-left: 35vw;
  }

  .links_space{
    padding-left: 3vw;
  }